# Compiler files
cache/
out/

.idea

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
scripts/.env.local
.env.*
!.env.example

scripts/node_modules
.env
/eth-eoa/node_modules